/* All common CSS start */
*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: "Lato", sans-serif;
    background: #1e1e1e; ;
}
ul,ol{
    list-style-type: none;
}
a,a:hover{
    text-decoration: none;
    display: inline-block;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0%;
    padding: 0%;
    line-height: 0.8;
}
/* All common CSS end */
 /* Headerpart start */
.navbar{
    background: #1e1e1e;
    width: 100%;
    /* padding-top: 60px;
    padding-bottom: 150px; */
}
 .nav-item a{
    color: #959595!important;
    font-size: 20px;
    font-weight: medium;
    letter-spacing: 3%;
    padding-left: 15px !important;
    transition: .5s;
 }
 .nav-item a:hover{
 color: #FD6F00 !important;
 }
.hirebtn a{
    color: #fff !important;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3%;
    background: linear-gradient(to bottom right, #FD6F00, #E46400);
    padding: 10px 35px;
    border-radius: 8px;
    border: 2px solid #FD6F00;
     transition: .5s !important;
}
.hirebtn a:hover{
   background: transparent !important;
    color: #E46400 !important;
}
  /* Headerpart end */
   /* banner part start  */
#bannerpart{
    width: 100%;
    padding-bottom: 100px;
    padding-top:173px;
}
.bannertext{
    padding-top: 150px;
}
.bannertext h4{
    color: #707070;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 3%;
    padding-bottom:20px;
}
.bannertext h3{
    color: #959595;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 3%;
    padding-bottom: 45px;
}
.bannertext h1{
 background: linear-gradient(90deg, #984300 0%, #FD6F00 46%, #CA5900 100%);
  background-clip: text;
  color: transparent;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 3%;
    padding-bottom: 55px;
    display: flex;
}
.bannericons i{
    display: inline-block;
    height: 45px;
    width:45px;
    font-size: 24px;
    border-radius: 50%;
    border: 1px solid #575757;
    padding-top: 10px;
    margin-right: 20px;
    color: #BABABA;
    transition: .5s;
}
.bannericons i:hover{
    color: #FD6F00;
    border: 1px solid #984300;
}
.bannerbtn a{
    margin-top: 61px;
    color: #fff !important;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3%;
    background: linear-gradient(to bottom right, #FD6F00, #E46400);
    padding: 10px 35px;
    border-radius: 8px;
     transition: .5s !important;
     border: 2px solid #FD6F00!important; 
     margin-right: 24px;
}
.bannerbtn a:hover{
    border: 2px solid #959595 !important;
    background: transparent !important;
    color: #959595 !important;
}
.bannercounter{
     /* margin-top: 80px; */
    background: rgba(255, 255, 255, 0.4)!important;
    border-radius: 8px;
}
.banneritem{
    background: rgba(255, 255, 255, 0.4)!important;
     margin-top: 100px;
    padding:10px;
    /* text-align: center; */
}
.banneritem h3{
    color: #FD6F00 !important;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 3%;
    padding-bottom: 20px;
}
.banneritem p{
    color: #dfdfdf !important;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3%;
}
.bannerimg{
    position: relative;
}
.bannerimg img{
    position: absolute;
    top: 0%;
    right:0%;
    /* margin-left: 80px; */
}
.middle{
    border-left: 2px solid #575757;
border-right: 2px solid #575757;
}
 /* banner part end */